@font-face {
  font-family: "Quadrata";
  src: url("../fonts/FrizQuadrataCom-Regular.woff2") format("woff2");
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  font-family: "Quadrata";
  color: white;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.wrappers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.select-text {
  text-align: center;
  font-size: 3rem;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: relative;
  color: rgb(197, 184, 184);
  font-weight: bold;
  font-size: 4rem;
  transition: 0.6s ease;
  border: 2px solid rgba(54, 54, 54, 0.705);
  border-radius: 1rem;
  padding: 0 1rem;
  user-select: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 3rem;
  padding: 8px 12px;
  position: relative;
  top: 0;
}

/* The dots/bullets/indicators */
/* Fading animation */
header {
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
header ul {
  display: flex;
}
header ul li {
  list-style-type: none;
}
header ul li a {
  color: black;
}
header img {
  width: 20rem;
}
header a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 3rem;
}
header i {
  margin-right: 2rem;
}
@media only screen and (min-width: 992px) {
  header {
    font-size: 1.5rem;
  }
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main {
  z-index: 1;
  position: relative;
}
#main img {
  transition: all 1.5s ease-in-out;
}
#main figure {
  width: 30rem;
  height: 45rem;
  margin: 0;
  border-radius: 0.5rem;
  border: 1px rgba(182, 84, 19, 0.8) solid;
  position: relative;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}
#main figure:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 15px 4px rgba(17, 17, 17, 0.5), 0 4px 6px 2px rgba(36, 36, 36, 0.9);
}
#main figure .character-image {
  width: 100%;
  height: 100%;
}
#main figure figcaption {
  color: rgb(255, 255, 255);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: calc(1.5rem + 0.6vw);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
#main figure figcaption p {
  margin: 0;
}

#game {
  color: white;
  min-height: 56vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
#game a {
  color: white;
  text-decoration: none;
}
#game h1 {
  text-align: center;
  animation: titleGrow 1.3s forwards ease-in;
}
#game figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#game img {
  border-radius: 0.5rem;
  border: 1px rgba(182, 84, 19, 0.8) solid;
}
#game .attack {
  border: 1px solid black;
  padding: 1rem;
  background-color: rgba(243, 26, 26, 0.548);
  width: 100%;
}
#game .attack-two {
  border: 1px solid black;
  padding: 1rem;
  background-color: rgba(226, 104, 22, 0.74);
  width: 100%;
}
#game .wrapper {
  display: flex;
}
#game .wrapper-middle {
  margin: 0 auto;
  max-width: 15rem;
  text-align: center;
}
#game .wrapper-middle-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 2rem;
  width: 36rem;
  height: 22rem;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(54, 54, 54, 0.842);
  border-radius: 1rem;
}
#game p {
  margin: 0;
}
#game .wrapper-attacks {
  display: flex;
  flex-direction: column;
}
#game .progress-rng,
#game .progress-player {
  background-color: rgb(214, 64, 64);
  width: 27rem;
}
#game .progress-rng::-webkit-progress-value {
  background-color: rgb(243, 70, 18);
}
#game .progress-rng::-moz-progress-bar {
  background-color: rgb(243, 70, 18);
}
#game .progress-player::-webkit-progress-value {
  background-color: rgb(243, 186, 64);
}
#game .progress-player::-moz-progress-bar {
  background-color: rgb(243, 186, 64);
}

@keyframes titleGrow {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
    color: red;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
}
footer .play-button {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url("../img/play.png");
  background-size: cover;
}
footer .play-button.paused {
  background-image: url("../img/pause.png");
}

#end {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#end a {
  color: rgb(255, 136, 0);
  text-decoration: none;
  font-size: 3rem;
}

/*# sourceMappingURL=main.css.map */
