@font-face {
  font-family: 'Quadrata';
  src: url("../fonts/FrizQuadrataCom-Regular.woff2") format('woff2');
}




* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  font-family: 'Quadrata';
  color: white;


}