// Variables
$color-primary: #ff6f61;
$color-error: #ba3535;
$color-success: #4f964f;
$color-warning: #b78e3c;
$color-info: #3c607d;
$color-white: #f2f0f1;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;